.countdown__wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.value {
  font-size: 70px;
  font-weight: 700;
}

.days,
.months,
.years,
.minutes,
.seconds,
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #fff;
  background: #738d984d;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .countdown__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
  }

  .colon {
    display: none;
  }
}
